body {
    height: 960px;
    width: 1920px;
    background-image: url("miku背景.jpg");
    background-size: cover;
    position: absolute;
    overflow: hidden;
<!--"啊！这波是自适应背景图片" -->
}


h1 {
     color:red;
     font-size:100px;
 }
p{
    color: #6636ff;
    font-size:100px
}